body{
	color: pink;
	font-family: Arial;
}

p{
	text-align: left;
}

h1{
	text-align: center;
	color: pink;
}

.banana{
	text-align: left;
}
h2{
	color: black;
}

h3{
	color: green;
}
p{
	color: blackN;
}
h4{
	color: blue;
}
h5{
	color: red;
}
h6{
	color: red;

}
p{
	color: black;
}
h7{
	color: black;
}
p{
	color: green
}








table,th,td{border: 1px solid black;
width:60%;
}

nav {text-align: center;

justify-content: center;

padding:10;

margin:10;

font-weight:bold;
}

































